<nav>
    <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center">cowork client</a>
    </div>
</nav>
<div class='row s1'>
    <div class="container">
        <div class="card hoverable" style="width: 350px; margin-left: auto; margin-right: auto;">
            <div class="card-content center">
                <span class="card-title">Page de connexion</span>
                <p><em>{{message}}</em></p>
            </div>
            <form #loginForm="ngForm">
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" [(ngModel)]="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" required>
                </div>
            </form>
            <div class="card-action center">
                <a (click)="login()" class="waves-effect waves-light btn"  >Se connecter</a>
            </div>
            <button type="button" class="btn btn-outline-primary" (click)="panelCollapsed=panelCollapsed == 'login'?null:'login'">Password oublié</button><!-- [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample2"-->
            <div id="collapseExample" [ngbCollapse]="panelCollapsed != 'login'">
                <form (ngSubmit)='sendMailResetPassword()' #sendMailForm='ngForm'>

                    <div class="form-group">
                        <label for='email2'>rentrez un email pour recevoir un mail</label>
                        <input type="text" class="form-control" required [(ngModel)]='email2' name="email2" id="email2">
                    </div>

                    <div class="divider"></div>
                        <div class="section center">
                            <button type="submit"
                                    class="waves-effect waves-light btn"
                                    [disabled]="!sendMailForm.form.valid">
                                    Envoyer</button>
                        </div>
                </form>
            </div>
        </div>
        <div class="card hoverable" style="width: 350px; margin-left: auto; margin-right: auto;">
                <button type="button" class="btn btn-outline-primary" (click)="panelCollapsed=panelCollapsed == 'signup'?null:'signup'" >créer un compte</button><!--[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"-->
                <div id="collapseExample" [ngbCollapse]="panelCollapsed != 'signup'">
                    <div class="card">
                        <div class="card-body">
                            <form (ngSubmit)='createUser()' #createUserForm='ngForm'>
                                <div class="form-group">
                                    <label for="fname">Prénom</label>
                                    <input type="text" class="form-control" required [(ngModel)]="user.first_name" minlength="5" #first_name="ngModel" name="fname" id="fname">
                                    <div *ngIf="first_name.errors?.minlength" class="card-panel red accent-1">5 charactères minimum</div>
                                </div>

                                <div class="form-group">
                                    <label for="lname">Nom</label>
                                    <input type="text" class="form-control" required [(ngModel)]="user.last_name" minlength="5" #last_name="ngModel" name="lname" id="lname">
                                    <div *ngIf="last_name.errors?.minlength" class="card-panel red accent-1">5 charactères minimum</div>
                                </div>

                                <div class="form-group" [class.has-error]="emailReg.invalid && emailReg.touched">
                                    <label for="emailReg" class="control-label">Email</label>
                                    <input type="text" class="form-control" id="emailReg"
                                        required email
                                        [(ngModel)]="user.email" name="emailReg"
                                        #emailReg="ngModel">

                                    <div *ngIf="emailReg.errors?.required && emailReg.touched" class="card-panel red accent-1">email obligatoire</div>
                                    <div *ngIf="emailReg.errors?.email && emailReg.touched" class="card-panel red accent-1">email invalide</div>
                                </div>

                                <div class="form-group" [class.has-error]="registrationPassword.touched && registrationPassword.invalid">
                                    <label for="registrationPassword" class="control-label">mot de passe</label>
                                    <input id="registrationPassword" required type="password" [(ngModel)]="user.password" minlength="5" #registrationPassword="ngModel" name="registrationPassword"   class="form-control">
                                    <div *ngIf="registrationPassword.touched && registrationPassword.errors?.required" class="card-panel red accent-1">mot de passe obligatoire</div>
                                    <div *ngIf="registrationPassword.errors?.minlength" class="card-panel red accent-1">5 charactères minimum</div>
                                </div>

                                <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                                    <label for="confirmPassword" class="control-label">confirmez mot de passe</label>
                                    <input name="confirmPassword" appConfirmEqualValidator="registrationPassword" required id="confirmPassword" type="password" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel"  class="form-control">
                                    <div *ngIf="confirmPassword.touched && confirmPassword.errors?.required" class="card-panel red accent-1">confirmer votre mot de passe</div>
                                    <div *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required" class="card-panel red accent-1">le mot de passe et la confirmation ne sont pas identiques</div>
                                </div>

                                <label for="birthday">date de naissance</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="material-icons icon">calendar_today</i></button>
                                    </div>
                                </div>

                                <div class="divider"></div>
                                <div class="section center">
                                    <button type="submit"
                                        class="waves-effect waves-light btn"
                                        [disabled]="!createUserForm.form.valid">
                                        s'inscrire</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

