<nav>
    <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center">cowork client</a>
    </div>
</nav>
<div class='row s1'>
    <div class="container">
        <div class="card hoverable" style="width: 350px; margin-left: auto; margin-right: auto;">
            <div class="card-content center">
                <span class="card-title">Changer votre password</span>
            </div>
            <form #loginForm="ngForm">
                <div>
                    <label for="password">Nouveau password</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" required>
                </div>
                <div>
                    <label for="password">Confirmer password</label>
                    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                </div>
            </form>
            <div class="card-action center">
                <a  href="#" class="waves-effect waves-light btn"  >Enregistrer</a>
            </div>
        </div>
    </div>
</div>
