<nav>
    <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center">cowork client</a>
    </div>
</nav>
<div class='row s1'>
    <div class="container">
        <div class="card hoverable" style="width: 350px; margin-left: auto; margin-right: auto;">
            <div class="card-content center">
                <span class="card-title">Changer votre password</span>
            </div>
            <form (ngSubmit)='updatePassword()' #resetPasswordForm="ngForm">
                <div class="form-group" [class.has-error]="registrationPassword.touched && registrationPassword.invalid">
                    <label for="registrationPassword" class="control-label">mot de passe</label>
                    <input id="registrationPassword" required type="password" [(ngModel)]="Password" minlength="5" #registrationPassword="ngModel" name="registrationPassword"   class="form-control">
                    <div *ngIf="registrationPassword.touched && registrationPassword.errors?.required" class="card-panel red accent-1">mot de passe obligatoire</div>
                    <div *ngIf="registrationPassword.errors?.minlength" class="card-panel red accent-1">5 charactères minimum</div>
                </div>

                <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                    <label for="confirmPassword" class="control-label">confirmez mot de passe</label>
                    <input name="confirmPassword" appConfirmEqualValidator="registrationPassword" required id="confirmPassword" type="password" [(ngModel)]="ConfirmPassword" #confirmPassword="ngModel"  class="form-control">
                    <div *ngIf="confirmPassword.touched && confirmPassword.errors?.required" class="card-panel red accent-1">confirmer votre mot de passe</div>
                    <div *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required" class="card-panel red accent-1">le mot de passe et la confirmation ne sont pas identiques</div>
                </div>
                <div class="divider"></div>
                                <div class="section center">
                                    <button type="submit"
                                        class="waves-effect waves-light btn"
                                        [disabled]="!resetPasswordForm.form.valid">
                                        Valider</button>
                                    </div>
            </form>
        </div>
    </div>
</div>
